{{page-title "Customer.io Challenge"}}

<div class="container">
  <div class="menu">
      <h1>
        <em>Customer.io</em>
      </h1>
        <div class="menu-item">
        Home
        </div>
        <div>
        Customers
        </div>
    <div class="right-items">
        <div class="menu-item">
    take-home@customer.io
        </div>
        <div class="menu-item">
        Log out
        </div>
    </div>
  </div>
</div>
{{outlet}}